.container{
    margin-bottom: 10px;
}
.navbar{
    box-shadow: 3px 3px 10px rgb(84, 78, 78);

}
.navbar img{
    width: 80;
    height: 70px;
    margin-left: 10px;
}
.navlinks a{
    margin: 10px;;
}
.heading{
    text-align: center;
    text-decoration: underline rgb(93, 93, 111);
    word-spacing: 10px;  
}
h1{
    color: rgb(100, 110, 112);
    
}
h4{
    margin: 1px;
}
.cradspacind{
    margin-top: 10px;
    box-shadow: gray 3px 3px 3px;
}
.cradspacind li{
    margin-bottom: 10px;
}
