.container{
    margin-bottom: 10px;
}
.navbar{
    box-shadow: 3px 3px 10px rgb(84, 78, 78);
    padding: 0.3%;

}
.navbar img{
    width: 80;
    height: 80px;
    margin-left: 3px ;
    margin-top: none;
    margin-bottom: none;
}
.navlinks a{
    margin: 10px;;
}
.heading{
    text-align: center;
    text-decoration: underline rgb(93, 93, 111);
    word-spacing: 10px;  
}
h1{
    color: rgb(100, 110, 112);
    margin-left: 15%;
}
h4{
    margin: 1px;
}
#mainbutton{
    position:fixed;
    z-index: 2;
    margin-top: 60%;
    margin-left: 80%;
    margin-right: 30px;
}
.cradspacind{
    margin-top: 10px;
    box-shadow: gray 3px 3px 3px;
}
.cradspacind li{
    margin-bottom: 10px;
}
.footer {
    background-color: lightblue;
    text-align: center;
    padding-top: auto 5px;
    margin-top:20px;
    color: aliceblue;
}
.footlinks a{
    margin: 1%;
}
.footlinks p{
    margin: 0;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }